/*------------------------------------------------------------------
[12. Pagination]
*/
.pagination > li > a {
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: #02263e;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.pagination > li:first-child > a {
    border-radius: 0;
}

.pagination > li > a:hover, .pagination > li > a:visited {
    background-color: white;
}

.pagination > li > a, .pagination > li > span {
    border: none;
}

.pagination .active {
    border-bottom: 1px solid #dce453;
    color: #dce453;
}

.pagination .active:hover {
    border-bottom: 1px solid #02263e;
    color: #02263e;
}
