aiofiles==23.2.1
aiosmtplib==3.0.1
aiosqlite==0.20.0
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
dnspython==2.6.1
email_validator==2.2.0
google-api-core==2.19.0
google-api-python-client==2.134.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.1
gunicorn==22.0.0
html5tagger==1.3.0
httplib2==0.22.0
httptools==0.6.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
multidict==6.0.5
oauthlib==3.2.2
packaging==24.1
passlib==1.7.4
proto-plus==1.24.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyparsing==3.1.2
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sanic==23.12.1
sanic-ext==23.12.0
sanic-mail==0.0.3
sanic-routing==23.12.0
sanic-session==0.8.0
tracerite==1.1.1
typing_extensions==4.12.2
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.2
uvloop==0.19.0
websockets==12.0
