<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Encoding -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{{ request.ctx.translations['index']['title'] }} | EVA00</title>
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#e0e6e9">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#e0e6e9">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#e0e6e9">
    <!-- end mobile tab color -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500,300' rel='stylesheet' type='text/css'>
    <!-- Font Ukie -->
    <link type="text/css" media="all" href="{{ 'font/font-ukie/css/font-ukie.css' | static_url }}" rel="stylesheet">
    <!-- include the bootstrap stylesheet -->
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css' | static_url }}">
    <!-- include magnific-popup stylesheet -->
    <link rel="stylesheet" href="{{ 'css/magnific-popup.css' | static_url }}">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{{ 'css/styles.css' | static_url }}">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'img/favicons/apple-touch-icon-144x144.png' | static_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'img/favicons/apple-touch-icon-114x114.png' | static_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'img/favicons/apple-touch-icon-72x72.png' | static_url }}">
    <link rel="apple-touch-icon" href="{{ 'img/favicons/apple-touch-icon.png' | static_url }}">
    <link rel="shortcut icon" href="{{ 'img/favicons/apple-touch-icon.png' | static_url }}">
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=666f68c4b1ccde0019176e2e&product=sticky-share-buttons&source=platform" async="async"></script>
</head>
<body data-spy="scroll" data-target="#menu">
    <!-- sharethis add -->
    <div class="sharethis-sticky-share-buttons"></div>

<!-- Start header -->
<header class="header padding-block" id="navhead">
        <!-- Switch language -->
        <div class="social-icons-switch-language">
            <a href="/set_language/uk" class="social-item">
                <i class="uf uf-ukraine"></i>
            </a>
            <a href="/set_language/en" class="social-item">
                <i class="uf uf-english"></i>
            </a>
         </div>
    <!-- Start  container-->
    <div class="container">

        <!-- Start row-->
        <div class="row text-center">
            <div class="col-md-10 header-content">
                <h1 class="header-title">
                    {{ request.ctx.translations['index']['header-title'] }} 
                </h1>
            </div>
        </div>
        <!-- End  row-->

        <!-- Start row-->
        <div class="row menu">
            <div class="col-md-12">
                <div class="mob-menu">
                    <ul>
                        <li>
                            <a href="#navabout">
                                <img src="{{ 'img/evax3.svg' | static_url }}" alt="" style="width: 200px; height: 200px;">
                                <p class="header-menu-item">{{ request.ctx.translations['index']['about'] }}</p>
                            </a>
                        </li>
                        <li>
                            <a href="#navblog">
                                <img src="{{ 'img/menu-blog.svg' | static_url }}" alt="">
                                <p class="header-menu-item">{{ request.ctx.translations['index']['blog'] }}</p>
                            </a>
                        </li>
                        <li>
                            <a href="#navcontact">
                                <img src="{{ 'img/menu-contacts.svg' | static_url }}" alt="">
                                <p class="header-menu-item">{{ request.ctx.translations['index']['contacts'] }}</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End  row-->

        <!-- Start row-->
        <div class="row menu">
            <div class="col-md-12">
                <div id="menu" class="mob-menu top-menu">
                    <!-- Start menu-->
                    <ul class="nav" role="tablist">
                        <li><a href="#navabout">{{ request.ctx.translations['index']['about'] }}</a></li>
                        <li><a href="/posts">{{ request.ctx.translations['index']['blog'] }}</a></li>
                        <li><a href="#navcontact">{{ request.ctx.translations['index']['contacts'] }}</a></li>
                    </ul>
                    <!-- End menu-->
                </div>
            </div>
        </div>
        <!-- End  row-->

        <!-- Start row-->
        <div class="row socials">
            <div class="col-md-12">
                <a href="https://www.facebook.com/58brigade" target="_blank">facebook</a>
                <a href="https://x.com/babaikit/status/1714370457430851673" target="_blank">twitter</a>
                <!-- <a href="" style="visibility: hidden;">google+</a>
                <a href="" style="visibility: hidden;">dribbble</a> -->
                <a href="https://www.instagram.com/58_rubpak/" target="_blank">instagram</a>
            </div>
        </div>
        <!-- End row-->

    </div>
    <!-- End  container-->

</header>
<!-- End section header -->


<!--Start section  About -->
<section id="navabout" class="about-section padding-block">
    <!-- Start container-->
    <div class="container">
        <!-- Start row-->
        <div class="row">
            <div class="col-md-12">
                <img src="{{ 'img/raiangry.svg' | static_url }}" class="section-img" alt=""  style="width: 200px; height: 200px;">
                <h2 class="section-title">{{ request.ctx.translations['index']['about'] }}</h2>
            </div>
        </div>

        <!-- End row-->
        <!-- Start row-->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <!-- Start About us-->
                <h3>{{ request.ctx.translations['index']['about_us'] }}</h3>
                <ul class="list-info">
                    <li>{{ request.ctx.translations['index']['bank_company_name_text'] }}<span>{{ request.ctx.translations['index']['bank_company_name'] }}</span></li>
                    <li>{{ request.ctx.translations['index']['bank_company_code_text'] }}<span>{{ request.ctx.translations['index']['bank_company_code'] }}</span></li>
                    <li>{{ request.ctx.translations['index']['bank_company_iban_text'] }}<span>{{ request.ctx.translations['index']['bank_company_iban'] }}</span></li>
                    <li>{{ request.ctx.translations['index']['bank_company_card_text'] }}<span>{{ request.ctx.translations['index']['bank_company_card'] }}</span></li>
                    <li>{{ request.ctx.translations['index']['bank_company_recipient_account_text'] }}<span>{{ request.ctx.translations['index']['bank_company_recipient_account'] }}</span></li>
                    <li>{{ request.ctx.translations['index']['bank_company_inn_text'] }}<span>{{ request.ctx.translations['index']['bank_company_inn'] }}</span></li>
                </ul>
                <!-- End About Me-->
            </div>
            <div class="col-md-4">
                <h3>{{ request.ctx.translations['index']['about_us_hello'] }}</h3>
                <!-- Start hello text top-->
                <p class="weighty-text">{{ request.ctx.translations['index']['about_us_goals'] }}</p>
                <!-- End hello text top-->
                <!-- Start hello text-->
                <p>{{ request.ctx.translations['index']['about_us_details'] }}</p>
                <!-- End hello text-->
            </div>

        </div>
        <!-- End row-->
        <!-- Start row-->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-6 col-md-4 text-right">
                {% if request.ctx.lang == 'uk' %}
                    <a href="{{ 'files/Bank_details_ua.pdf' | static_url }}" class="btn-general btn-download" download>Скачати Реквізити</a>
                {% else %}
                    <a href="{{ 'files/Bank_details_en.pdf' | static_url }}" class="btn-general btn-download" download>Download Bank Details</a>
                {% endif %}

            </div>
            <!-- <div class="col-sm-6 col-md-4 ">
                <a href="" class="btn-general btn-print">Print resume</a>
            </div> -->
            <div class="col-md-2"></div>
        </div>
        <!-- End row-->
    </div>
    <!-- End Container-->
</section>
<!--End Section About -->

<!-- Start Section Blog -->
<section id="navblog" class="blog-section padding-block">
    <!-- Start container-->
    <div class="container">

        <!-- Start row-->
        <div class="row">
            <img src="{{ 'img/menu-blog.svg' | static_url }}" class="section-img" alt="">
            <h2 class="section-title">{{ request.ctx.translations['index']['blog'] }}</h2>
        </div>
        <!-- End row-->

        <!-- Start row-->
        <div class="row blog-lists">
            <div class="col-md-2"></div>
            {% if latest_posts %}
            {% for post in latest_posts %}
            <div class="col-md-4 blog-list">
                <ul class="tags-post">
                    {% if post[7] %}
                        {% for tag in post[7].split(' ') %}
                            <li><a href="/posts?tag={{ tag.strip() }}">#{{ tag.strip() }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <h3 class="blog-title"><a href="/post/{{ post[0] }}">

                    {% if request.ctx.lang == 'uk' %}
                        {{ post[1] | truncate(28, True) }}
                    {% else %}
                        {{ post[2] | truncate(28, True) }}
                    {% endif %}
                </a></h3>
                <a href="/post/{{ post[0] }}" class="blog-img">
                    <img src="{{ post[3] or 'img/blog-440x309.jpg' | static_url }}" 
                         sizes="(max-width: 360px) 360px, 100vw"
                         alt="" style="width: 360px; height: 252.461px; object-fit: cover;">
                </a>
                <div class="blog-info">
                    <ul class="blog-info-left">
                        <li class="weight-bold">{{ post[4] | format_datetime('%d/%m/%Y') }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        

        </div>
        <!-- End row-->

        <!-- Start row-->
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/posts" class="btn-general">{{ request.ctx.translations['index']['all_posts'] }}</a>
            </div>
        </div>
        <!-- End row-->

    </div>
    <!-- End container-->

</section>
<!-- End Section Blog -->


<!-- Start Section Contact -->
<section id="navcontact" class="contact-section padding-block">
    <!-- Start container-->
    <div class="container">

        <!-- Start row-->
        <div class="row">
            <img src="{{ 'img/menu-contacts.svg' | static_url }}" class="section-img" alt="">
            <h2 class="section-title">{{ request.ctx.translations['index']['contacts'] }}</h2>
        </div>
        <!-- End row-->

        <!-- Start row-->
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <!-- Start Contact info-->
                <ul class="list-info">
                    <li>{{ request.ctx.translations['index']['contact_mail_text'] }}<span>info@yourdomain.com</span></li>
                    <li>{{ request.ctx.translations['index']['contact_phone_text'] }}<span>012-3456-7890</span></li>
                </ul>
                <!-- End Contact info-->

                <!-- Start social icon-->
                <div class="social-icons">
                    <a href="https://www.facebook.com/58brigade" class="social-item"><i class="uf uf-facebook"></i></a>
                    <a href="https://x.com/babaikit/status/1714370457430851673" class="social-item"><i class="uf uf-twitter"></i></a>
                    <!-- <a href="" class="social-item"><i class="uf uf-google-plus"></i></a> -->
                    <a href="https://www.instagram.com/58_rubpak/" class="social-item"><i class="uf uf-instagram"></i></a>
                    <a href="https://github.com/Madaocv/eva00" class="social-item"><i class="uf uf-dribbble"></i></a>
                </div>
                <!-- End social icon-->

            </div>

            <div class="col-md-4">

                <!-- Start Form-->
                <form action="/" method="post">
                    <input type="text" name="name" class="input-text" placeholder="{{ request.ctx.translations['index']['mail_form_name'] }}" required>
                    <input type="email" name="email" class="input-text" placeholder="{{ request.ctx.translations['index']['mail_form_email'] }}" required>
                    <input type="text" name="subject" class="input-text" placeholder="{{ request.ctx.translations['index']['mail_form_subject'] }}" required>
                    <textarea name="message" class="input-textarea" placeholder="{{ request.ctx.translations['index']['mail_form_message'] }}" required></textarea>
                    <input type="submit" class="btn-general btn-submit" value="{{ request.ctx.translations['index']['mail_form_send_message'] }}">
                </form>
                <!-- End Form-->

            </div>

        </div>
        <!-- End row-->

    </div>
    <!-- End container-->

    <!-- Start Copyright -->
    <div class="copyright"><i class="uf uf-copyright"></i> Copyright 2024 By EVAØØ. All rights reserved.</div>
    <!-- End Copyright -->

</section>
<!-- End Section Contact -->

<!-- Scroll to Top -->
<a href="#navhead" class="scroll-to-top"><i class="uf uf-arrow-up"></i></a>
<!-- End Scroll to Top -->

<!-- Scripts -->
<script src="{{ 'js/jquery.min.js' | static_url }}"></script>
<script src="{{ 'js/bootstrap.min.js' | static_url }}"></script>
<script src="{{ 'js/jquery.mixitup.js' | static_url }}"></script>
<script src="{{ 'js/jquery.magnific-popup.min.js' | static_url }}"></script>
<script src="{{ 'js/jquery.appear.js' | static_url }}" type="text/javascript"></script>
<script src="{{ 'js/jquery.inview.min.js' | static_url }}"></script>
<script src="{{ 'js/jquery.knob.min.js' | static_url }}"></script>
<script src="{{ 'js/jpreloader.js' | static_url }}"></script>
<script src="{{ 'js/script.js' | static_url }}"></script>
<script src="{{ 'js/smooth-scroll.js' | static_url }}"></script>
<script src="{{ 'js/menu-scroll.js' | static_url }}"></script>

</body>
</html>