<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Encoding -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Blog | EVA00</title>
    <!-- mobile tab color-one.scss -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#dce453">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#dce453">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#dce453">
    <!-- end mobile tab color-one.scss -->
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,500,300' rel='stylesheet' type='text/css'>
    <!-- Font Ukie -->
    <link type="text/css" media="all" href="{{ 'font/font-ukie/css/font-ukie.css' | static_url }}" rel="stylesheet">
    <!-- include the bootstrap stylesheet -->
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css' | static_url }}">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{{ 'css/styles.css' | static_url }}">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'img/favicons/evax3-144x144.png' | static_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'img/favicons/evax3-114x114.png' | static_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'img/favicons/evax3-72x72.png' | static_url }}">
    <link rel="apple-touch-icon" href="{{ 'img/favicons/evax3-56x56.png' | static_url }}">
    <link rel="shortcut icon" href="{{ 'img/favicons/evax3-56x56.png' | static_url }}">
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=666f68c4b1ccde0019176e2e&product=sticky-share-buttons&source=platform" async="async"></script>
    <script src="{{ 'ckeditor/ckeditor.js' | static_url }}"></script>
    {% block extrastyle %}{% endblock %}
</head>
<body class="single-page">

<!-- Start header -->
<header class="header padding-block" id="navhead">

    <!-- Start  container-->
    <div class="container">
        <!-- Start row-->
        <div class="row menu">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="menus" class="mob-menu top-menu">
                    <!-- Start menu-->
                    <ul class="nav" role="tablist">
                        <li><a href="/#navabout">{{ request.ctx.translations['index']['about'] }}</a></li>
                        <li><a href="/posts">{{ request.ctx.translations['index']['blog'] }}</a></li>
                        <li><a href="/#navcontact">{{ request.ctx.translations['index']['contacts'] }}</a></li>
                    </ul>
                    <!-- End menu-->
                </div>
            </div>
        </div>
        <!-- End  row-->
    </div>
    <!-- End  container-->

</header>
<!-- End section header -->

<!-- Start Default Section -->

{% block content %}{% endblock %}
<!-- Start Copyright -->
<div class="copyright"><i class="uf uf-copyright"></i> Copyright 2024 By EVAØØ. All rights reserved.</div>
<!-- End Copyright -->

<!-- Scroll to Top -->
<a href="#navhead" class="scroll-to-top"><i class="uf uf-arrow-up"></i></a>
<!-- End Scroll to Top -->

<!-- Scripts -->
{% block jsscripts %}{% endblock %}
<script src="{{ 'js/jquery.min.js' | static_url }}"></script>
<script src="{{ 'js/bootstrap.min.js' | static_url }}"></script>
<script src="{{ 'js/jquery.mixitup.js' | static_url }}"></script>
<script src="{{ 'js/jquery.magnific-popup.min.js' | static_url }}"></script>
<script src="{{ 'js/jquery.appear.js' | static_url }}" type="text/javascript"></script>
<script src="{{ 'js/jquery.inview.min.js' | static_url }}"></script>
<script src="{{ 'js/jquery.knob.min.js' | static_url }}"></script>
<script src="{{ 'js/jpreloader.js' | static_url }}"></script>
<script src="{{ 'js/script.js' | static_url }}"></script>
<script src="{{ 'js/smooth-scroll.js' | static_url }}"></script>
<script src="{{ 'js/menu-scroll.js' | static_url }}"></script>
</body>
</html>