{% extends "post_base.html" %}
{% block content %}
<!-- Start Default Section -->
<div class="padding-block blog-section">
    <div class="container">
        <!-- Start  row -->
        <div class="row">
            <img class="section-img" src="{{ 'img/menu-blog.svg' | static_url }}" alt="">
            <h2 class="section-title">Blog</h2>
        </div>
        <!-- End  row -->
        <!-- Start  row -->
        <div class="row blog-content">
            <div class="col-xs-12 col-sm-12 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                {% for post in posts %}
                <!-- Start blog article -->
                <div class="blog-list">
                    {% if post[5] %}
                        <ul class="tags-post">
                            {% for tag in post[5].split(' ') %}
                            <li><a href="/posts?tag={{ tag.strip() }}">#{{ tag.strip() }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <h3 class="blog-title"><a href="/post/{{ post[0] }}">{{ post [1] }}</a></h3>

                    <a href="/post/{{ post[0] }}" class="blog-img"><img src="{{ post[2] or 'img/blog-440x309.jpg' | static_url }}" alt=""></a>

                    <div class="blog-info">
                        <ul class="blog-info-left">
                            <li class="weight-bold">{{ post[3] | format_datetime('%d/%m/%Y') }}</li>
                            <li><a href="/post/{{ post[0] }}">{{ post[6] }} comments</a></li>
                        </ul>
                        <ul class="blog-info-right">
                            <li class="weight-bold"><a href="/post/{{ post[0] }}">Read more</a></li>
                        </ul>
                    </div>

                </div>
                <!-- End blog article -->
                {% endfor %}

            </div>

        </div>
        <!-- End  row -->
        <!-- Start  row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-5">

                <!-- Start  pagination -->
                 {% if pagination %}
                <ul class="pagination">
                    {% for i in range(1, total_pages + 1) %}
                        <li><a class="{% if current_page == i %}active{% endif %}" href="/posts?page={{ i }}{% if selected_tag %}&tag={{ selected_tag }}{% endif %}">{{ i }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <!-- End  pagination -->

            </div>
        </div>
        <!-- End  row -->
    </div>
    <!-- End  Page -->
</div>
<!-- End Default Section -->
{% endblock %}